@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/MasterPrincipal.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            fn_cantidadpacientes();
            fn_cantidadconsultas();
            fn_cantidadcitasmedicas();
        });
        function fn_cantidadpacientes() {
            $.ajax({
                url: '@Url.Action("ObtenerCantidadPacientes", "Paciente")',
                dataType: "json",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (result) {
                    $("#txtCantidadPacientes").text(result);
                },
                error: function (result) {
                    fn_custommessage("e", "No se encontro ningun paciente", "message_row");
                }

            });
        }
        function fn_cantidadconsultas() {
            $.ajax({
                url: '@Url.Action("ObtenerCantidadConsultas", "Consultas")',
                dataType: "json",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (result) {
                    $("#txtCantidadConsultas").text(result);
                },
                error: function (result) {
                    fn_custommessage("e", "No se encontro ninguna consulta", "message_row");
                }

            });
        }

        function fn_cantidadcitasmedicas() {
            $.ajax({
                url: '@Url.Action("ObtenerCantidadCitas", "CitasMedicas")',
                dataType: "json",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (result) {
                    $("#txtCantidadCitasMedicas").text(result);
                },
                error: function (result) {
                    fn_custommessage("e", "No se encontro ninguna consulta", "message_row");
                }

            });
        }
    </script>
}
<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-life-ring"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Pacientes</h4>
                                    <div class="info">
                                        <strong id="txtCantidadPacientes" class="amount"></strong>
                                        <span class="text-primary"></span>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-secondary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fa fa-usd"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Consultas</h4>
                                    <div class="info">
                                        <strong id="txtCantidadConsultas" class="amount">120</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-tertiary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Usuarios</h4>
                                    <div class="info">
                                        <strong class="amount">5</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-quartenary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-quartenary">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Citas</h4>
                                    <div class="info">
                                        <strong id="txtCantidadCitasMedicas" class="amount">150</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Ultimos Pacientes Registrados</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Dni</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0;
                             foreach (CapaEntidades.entPaciente c in CapaLogicaNegocio.negPaciente.Instancia.UltimosPacientesRegistrados())
                             {
                                 index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@c.Nombres</td>
                                    <td>@c.Dni</td>
                                </tr>
                             }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Citas de hoy</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Pacientes</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int indice = 0;
                             foreach (CapaEntidades.entCitaMedica c in CapaLogicaNegocio.negConsultaMedica.Instancia.ListarCitasMedicasMedicos(ViewBag.PersonaP))
                             {
                                 indice++;
                                <tr>
                                    <td>@indice</td>
                                    <td>@c.Paciente.Nombres @c.Paciente.Apellidos</td>
                                    @if (c.EstadoCita == 2) {                                    
                                        <td>
                                             <span class="label label-success" style="background-color:lightcoral">Pendiente</span>
                                        </td>
                                    }
                                </tr>
                             }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
