@model CapaEntidades.entPaciente

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/MasterPrincipal.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            fn_init();
        });
        function fn_init() {
            fn_plugin();
        }
        function fn_plugin() {
            $("#txtFechaNacimiento").datepicker({
                format: 'dd/mm/yyyy',
                changeMonth: true,
                changeYear: true
            });
        }
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Editar Paciente</h2>
            </header>
            <div class="panel-body">
                <div class="form-horizontal form-bordered">
                    <form method="post" action="Editar" enctype="multipart/form-data">
                        <input type="hidden" name="txtIdPaciente" value="@Model.idPaciente" />
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Nombres</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtNombres" value="@Model.Nombres" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Apellidos</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtApellidos" value="@Model.Apellidos">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Dni</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtDni" maxlength="8" value="@Model.Dni">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Direccion</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtDireccion" value="@Model.Direccion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Fecha Nacimiento</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtFechaNacimiento" id="txtFechaNacimiento" value="@Model.FechaNacimiento.ToShortDateString()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Edad</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtEdad" value="@Model.Edad">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Genero</label>
                            <div class="col-md-6">
                                @if (Model.Sexo == "M")
                                {
                                <select name="cboGenero" class="form-control mb-md">
                                    <option>Selecciona tu genero</option>
                                    <option value="M" selected="selected">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                                }
                                else { 
                                 <select name="cboGenero" class="form-control mb-md">
                                    <option>Selecciona tu genero</option>
                                    <option value="M">Masculino</option>
                                    <option value="F" selected="selected">Femenino</option>
                                </select>                      
                                }
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Correo</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtCorreo" value="@Model.Correo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Telefono</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtTelefono" maxlength="8" value="@Model.Telefono">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Celular</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="txtCelular" maxlength="9" value="@Model.Celular">
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" value="Guardar" />
                            <a class="mb-xs mt-xs mr-xs btn btn-lg btn-default" href="@Url.Action("Index", "Paciente")">Regresar</a>
                        </div>
                    </form>
              
                </div>
            </div>
        </section>
    </div>
</div>

